
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
    var app = angular.module('myApp', ['ngRoute']);
    app.controller('myCtrl', function ($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
    });

    angualarModule.config(function ($routeProvider, $locationProvider) {
        $routeProvider.
      
        when('/Home/PVHome', {
            templateUrl: '/Home/PVHome',
            
            // controller: 'routeDemoSecondController',
            //controllerAs: 'book'
        })
        //when('/fou', {
        //    templateUrl: 'four/Index',
        //    // controller: 'routeDemoSecondController',
        //    //controllerAs: 'book'
        //})

        $locationProvider.html5Mode(true);

    })
</script>
<div ng-app="myApp" >

    <div ng-controller="myCtrl">
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}
        <h2>HOME</h2>

        <br />
        <a href="/Home/PVHome">home</a>
        <br />
        <a href="../four/Index">fou</a>
        <br />
        <div ng-view>
            <h1>ffffff</h1>
        </div>
    </div>
</div>




