@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
     <script type="text/javascript">
     function show3() {
            $('#d2').load('/s2/Index');
        }
        </script>
</head>
<body>
    <div>
       <h1>pratap</h1> 
    </div>
       <input id="Button1" onclick="show3();" type="button" value="show" />
    <div id="d2">
        
    </div>
</body>
</html>
