@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper row2">
  <div id="slider" class="flexslider clear"> 
    <!-- ############################################################################################################# -->
    <ul class="slides">
      <li>
        <article><img src="../../images/demo/slider/1.gif" alt="">
          <div class="flex-caption">
            <h2>A Catchy Title 1</h2>
            <p>Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque curabiturpisametur in ante.</p>
            <p class="more"><a href="#">Read More &raquo;</a></p>
          </div>
        </article>
      </li>
      <li>
        <article><img src="../../images/demo/slider/1.gif" alt="">
          <div class="flex-caption">
            <h2>A Catchy Title 2</h2>
            <p>Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque curabiturpisametur in ante.</p>
            <p class="more"><a href="#">Read More &raquo;</a></p>
          </div>
        </article>
      </li>
      <li>
        <article><img src="../../images/demo/slider/1.gif" alt="">
          <div class="flex-caption">
            <h2>A Catchy Title 3</h2>
            <p>Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque curabiturpisametur in ante.</p>
            <p class="more"><a href="#">Read More &raquo;</a></p>
          </div>
        </article>
      </li>
    </ul>
    <!-- ############################################################################################################# --> 
  </div>
</div>
<div class="wrapper row3">
  <main id="container" class="clear"> 
    <!-- container body --> 
    <!-- ########################################################################################## -->
    <div id="homepage" class="clear"> 
      <!-- ########################################################################################## -->
      <div id="services">
        <ul class="clear">
          <li>
            <article><img src="../../images/demo/64x64.gif" alt="" />
              <h2><a href="#">Vivamuslibero Auguer</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque.</p>
            </article>
          </li>
          <!-- Element 2 -->
          <li>
            <article><img src="../../images/demo/64x64.gif" alt="" />
              <h2><a href="#">Vivamuslibero Auguer</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque.</p>
            </article>
          </li>
          <!-- Element 3 -->
          <li>
            <article><img src="../../images/demo/64x64.gif" alt="" />
              <h2><a href="#">Vivamuslibero Auguer</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque.</p>
            </article>
          </li>
          <!-- Element 4 -->
          <li>
            <article><img src="../../images/demo/64x64.gif" alt="" />
              <h2><a href="#">Vivamuslibero Auguer</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque.</p>
            </article>
          </li>
        </ul>
      </div>
      <!-- ########################################################################################## --> 
      <!-- Shout -->
      <div id="shout" class="clear">
        <p>Nibhnullam libero portis vivamus justo porta cursus arcu quisque sceleifendiment praesentum. Leosodalesuada quis nequat commodo enim curabitur cursus vest eu sodalesuada feugiat.</p>
      </div>
      <!-- / Shout --> 
      <!-- ########################################################################################## --> 
    </div>
    <!-- ########################################################################################## --> 
    <!-- Latest -->
    <div id="latest" class="clear">
      <ul class="clear">
        <li>
          <article>
            <h2>Indonectetus facilis</h2>
            <img src="../../images/demo/225x140.gif" alt="" />
            <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </article>
        </li>
        <!-- Element 2 -->
        <li>
          <article>
            <h2>Indonectetus facilis</h2>
            <img src="../../images/demo/225x140.gif" alt="" />
            <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </article>
        </li>
        <!-- Element 3 -->
        <li>
          <article>
            <h2>Indonectetus facilis</h2>
            <img src="../../images/demo/225x140.gif" alt="" />
            <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </article>
        </li>
        <!-- Element 4 -->
        <li>
          <article>
            <h2>Indonectetus facilis</h2>
            <img src="../../images/demo/225x140.gif" alt="" />
            <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </article>
        </li>
      </ul>
    </div>
    <!-- / Latest --> 
    <!-- ########################################################################################## --> 
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>
